// ## Rly Simple Fake Select ## https://github.com/kiliano/rly-simple-fake-select/

// Mobile break change (true on mobile)
	$mobileBreak: 991px;


// Aparence

	// Select
	$borderColor: #666;
	$textColor: #333;
	$backgroundColor: #fff;

	// Options Box
	$optionsBorderColor: #999;
	$optionsBgColor: #fafafa;
	$optionsTextColor: #333;


	// Option hover
	$selectedColor: #333;
	$selectedBg: rgba(0,0,0,0.1);



// Prefix
.rly-simple {

	// Box of Elements


	// True Select and Fake Select
	&-select, &-select-css, &-fake-select > a {
		color: $textColor;
		font-family: sans-serif;
		text-decoration: none;
		font-size: 14px;
		border: 1px solid $borderColor;
		padding: 10px;
		background-color: $backgroundColor;
		vertical-align: top;

		display: inline-block;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	// Only true Select
	&-select, &-select-css {
		
	}

	// Only fake Select
	&-fake-select {
		position: relative;
		display: inline-block;

		> a {

			display: block;
			position: relative;

			&:after {
		        position: absolute;
		        content: " ";
		        right: 8px;
		        top: 43%;
		        
		        width: 0;
		        height: 0;
		        border-style: solid;
		        border-width: 6px 3px 0 3px;
		        border-color: $borderColor transparent transparent transparent;

		    }

		}

	}

	// Fake Options
	&-fake-options {


		
		display: none;

		margin: 20px 0 0 0;
		padding: 0;
		list-style: none;
		background-color: $optionsBgColor;
		border: 1px solid $optionsBorderColor;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;

		-webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.15);
		-moz-box-shadow: 0 2px 10px rgba(0,0,0,0.15);
		-ms-box-shadow: 0 2px 10px rgba(0,0,0,0.15);
		-o-box-shadow: 0 2px 10px rgba(0,0,0,0.15);
		box-shadow: 0 2px 10px rgba(0,0,0,0.15);

		left: 0;
        position: absolute;
        min-width: 150px;
        
        z-index: 200;
        
        &:before {
            width: 0; 
            height: 0; 
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;

            border-bottom: 6px solid $optionsBorderColor;
            position: absolute;
            content: " ";
            left: 5px;
            top: -6px;
        }

		>li {
			> a {
				padding: 8px 15px;
				display: block;
				text-decoration: none;
				color: $optionsTextColor;

				&:hover, &:focus {
					background-color: $selectedBg;
					color: $selectedColor;

				}
			}
		}


	}

	&-fake-options > li > &-active {
		color: $selectedColor; 
		background-color: $selectedBg;

		&:hover, &:focus {
			color: $selectedColor; 
			background-color: $selectedBg;
		}
	}



	// #### Change fake only on desktop ####
		// Show True only on mobile
		&-select {
			@media (min-width: $mobileBreak) {
				display: none;
			}

			@media (max-width: $mobileBreak) {
				display: inline-block;
			}
		}

		// Show fake only on Desktop
		&-fake-select {
			@media (min-width: $mobileBreak) {
				display: inline-block;
			}

			@media (max-width: $mobileBreak) {
				display: none;
			}
		}



}