/* line 33, ../scss/rly-simple-fake-select.scss */
.rly-simple-select, .rly-simple-select-css, .rly-simple-fake-select > a {
  color: #333;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 14px;
  border: 1px solid #666;
  padding: 10px;
  background-color: #fff;
  vertical-align: top;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 56, ../scss/rly-simple-fake-select.scss */
.rly-simple-fake-select {
  position: relative;
  display: inline-block;
}
/* line 60, ../scss/rly-simple-fake-select.scss */
.rly-simple-fake-select > a {
  display: block;
  position: relative;
}
/* line 65, ../scss/rly-simple-fake-select.scss */
.rly-simple-fake-select > a:after {
  position: absolute;
  content: " ";
  right: 8px;
  top: 43%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 3px 0 3px;
  border-color: #666 transparent transparent transparent;
}
/* line 84, ../scss/rly-simple-fake-select.scss */
.rly-simple-fake-options {
  display: none;
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  background-color: #fafafa;
  border: 1px solid #999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  left: 0;
  position: absolute;
  min-width: 150px;
  z-index: 200;
}
/* line 111, ../scss/rly-simple-fake-select.scss */
.rly-simple-fake-options:before {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #999;
  position: absolute;
  content: " ";
  left: 5px;
  top: -6px;
}
/* line 125, ../scss/rly-simple-fake-select.scss */
.rly-simple-fake-options > li > a {
  padding: 8px 15px;
  display: block;
  text-decoration: none;
  color: #333;
}
/* line 131, ../scss/rly-simple-fake-select.scss */
.rly-simple-fake-options > li > a:hover, .rly-simple-fake-options > li > a:focus {
  background-color: rgba(0, 0, 0, 0.1);
  color: #333;
}
/* line 142, ../scss/rly-simple-fake-select.scss */
.rly-simple-fake-options > li > .rly-simple-active {
  color: #333;
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 146, ../scss/rly-simple-fake-select.scss */
.rly-simple-fake-options > li > .rly-simple-active:hover, .rly-simple-fake-options > li > .rly-simple-active:focus {
  color: #333;
  background-color: rgba(0, 0, 0, 0.1);
}
@media (min-width: 991px) {
  /* line 156, ../scss/rly-simple-fake-select.scss */
  .rly-simple-select {
    display: none;
  }
}
@media (max-width: 991px) {
  /* line 156, ../scss/rly-simple-fake-select.scss */
  .rly-simple-select {
    display: inline-block;
  }
}
@media (min-width: 991px) {
  /* line 167, ../scss/rly-simple-fake-select.scss */
  .rly-simple-fake-select {
    display: inline-block;
  }
}
@media (max-width: 991px) {
  /* line 167, ../scss/rly-simple-fake-select.scss */
  .rly-simple-fake-select {
    display: none;
  }
}
